#archive-list {
	list-style: none;
  	margin: 0;
  	padding: 0;
}

#archive-list li {
	margin: 0;
 	padding: 0;
	font-family: Verdana, Geneva, sans-serif;
  	color: black;
  	border: 2px dotted #555;
  	padding: 6px;
  	margin-bottom: 4px;
}

#archive-list a {
	color: #6fcf6f;
  	text-decoration: underline;
  	font-weight: bold;
}

#archive-list.collapsed {
	display: none;
}

#archive-toggle {
  	font-weight: bold;
  	cursor: pointer;
  	user-select: none;
}

.progress-container {
	width: 100%;
	background-color: white;
	border-radius: 8px;
	overflow: hidden;
  	height: 32px;
}

.progress-bar {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	height: 100%;
  	background: linear-gradient(120deg, #20880c 0, #6fcf6f 37.5%, #20880c 100%);
  	width: 0%;
  	transition: width 0.5s ease-in-out;
  	text-align: center;
}

.progress-text {
  	padding: 0;
  	font-size: 16px;
  	font-weight: bold;
  	color: #111111;
}

.now-playing {
  	width: 100%;
}

.now-playing p {
  	margin: 0;
  	padding: 0;
}

#music-animation {
  	display: flex;
  	gap: 4px;
  	height: 20px;
  	align-items: flex-end;
}

#music-animation span {
  	display: block;
  	width: 4px;
  	background: #20880c;
  	animation: bounce 1s infinite ease-in-out;
  	border-radius: 2px;
}

#music-animation span:nth-child(1) {
  	animation-delay: 0s;
}
#music-animation span:nth-child(2) {
  	animation-delay: 0.1s;
}
#music-animation span:nth-child(3) {
  	animation-delay: 0.2s;
}
#music-animation span:nth-child(4) {
  	animation-delay: 0.3s;
}
#music-animation span:nth-child(5) {
  	animation-delay: 0.4s;
}

@keyframes bounce {
	0%,
  	100% {
   		height: 4px;
  	}
  	50% {
    		height: 20px;
  	}
}

.gallery img {
  	all: unset;
  	display: block;
  	width: 100%;
  	height: auto;
  	border-radius: 8px;
  	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.gallery {
  	position: relative;
  	max-width: 800px;
  	overflow: hidden;
  	border-radius: 12px;
}

.gallery-slide {
  	display: none;
}

.gallery-slide.active {
  	display: block;
  	animation: fade 0.6s;
}

@keyframes fade {
  	from {
    		opacity: 0.4;
  	}
  	to {
    		opacity: 1;
  	}
}

.gallery-btn {
  	cursor: pointer;
  	position: absolute;
  	top: 50%;
  	transform: translateY(-50%);
  	padding: 12px;
  	border: none;
  	background: rgba(0, 0, 0, 0.5);
  	color: #fff;
  	font-size: 20px;
  	border-radius: 50%;
  	user-select: none;
}
.gallery-btn:hover {
  	background: rgba(0, 0, 0, 0.8);
}

.prev {
  	left: 10px;
}
.next {
  	right: 10px;
}
