table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border: 2px solid white;
}

th,
td {
  border: 1px solid #555;
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

th {
  color: white;
  letter-spacing: 1px;
}
